<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Dealer?</h2>
            <p class="cs-text">
                Access VE/US pricing by applying to become a dealer today.
            </p>
            <span class="cs-topper">First Order for New Dealers has a 10% Discount!</span>
            <br><br>
            <a href="/Dealer-Access-Request/" class="cs-button-solid">Access VE/US Pricing</a>
            
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
 
</section>