<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-275">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/logo.png" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                <strong>Lithium Upgrades at Lead Acid Prices</strong>
            </p>
            <p class="cs-text">
                At Vehicle Electronics U.S., we prioritize finding the best automotive electronics available on the market. Our commitment is to provide high quality products with streamlined distribution cutting costs. 
            </p>
            <div class="cs-social">

            </div>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Products/">Products</a> 
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Dealers</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Dealer-Access-Request/">Dealer Access Request</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Dealer-Portal/">Dealer Portal</a>
            </li>
        </ul>
        <div class="cs-payments">
            <span class="cs-header">Accepted Payments</span>
            <div class="cs-payment-icons">
                <img class="cs-payment-icon" src="/assets/images/payments/visa.svg" alt="Visa" loading="lazy" width="62" height="40">
                <img class="cs-payment-icon" src="/assets/images/payments/mastercard.svg" alt="Mastercard" loading="lazy" width="62" height="40">
                <img class="cs-payment-icon" src="/assets/images/payments/amex.svg" alt="American Express" loading="lazy" width="62" height="40">
                <img class="cs-payment-icon" src="/assets/images/payments/discover.svg" alt="Discover" loading="lazy" width="62" height="40">
                <img class="cs-payment-icon" src="/assets/images/payments/bank-transfer.svg" alt="Bank Transfer" loading="lazy" width="62" height="40">
                <img class="cs-payment-icon" src="/assets/images/payments/cash-app-pay.svg" alt="Cash App Pay" loading="lazy" width="62" height="40">
                <img class="cs-payment-icon" src="/assets/images/payments/klarna.svg" alt="Klarna" loading="lazy" width="62" height="40">
                <img class="cs-payment-icon" src="/assets/images/payments/amazon-pay.svg" alt="Amazon Pay" loading="lazy" width="62" height="40">
                <img class="cs-payment-icon" src="/assets/images/payments/zelle.svg" alt="Zelle" loading="lazy" width="62" height="40">
            </div>
        </div>
    </div>
</footer>