<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-275">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/logo.png" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                At Vehicle Electronics U.S., we prioritize finding the best automotive electronics available on the market. Our commitment is to provide high quality products with streamlined distribution cutting costs. 
            </p>
            <div class="cs-social">

            </div>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact/">Contact</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Dealers</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Dealer-Access-Request/">Dealer Access Request</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Dealer-Portal/">Dealer Portal</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Product</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/GolfCart/">Golf Cart Battery</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Rv/">Rv & Boat Batteries</a>
            </li>
        </ul>
        </ul>
    </div>
</footer>