---
title: "Golf Cart Batteries"
description: "Our high-performance golf cart batteries are designed to provide long-lasting power and reliability for your golf cart. Explore our selection of lithium batteries that offer superior performance, faster charging times, and extended lifespan compared to traditional lead-acid batteries."
permalink: "/GolfCart/"
image: "OPTIONAL - If an image path is specified here, it will be used for that page's OG image. Useful for blog posts (implemented as standard with this kit)"
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/products.css">
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->


<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-83">
    <div class="cs-container">
        
        <!-- Left Section -->
        <div class="cs-image-group">
            <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/48v100ah.png' | resize({ width: 576 }) | webp %}" type="image/webp">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/48v100ah.png' | resize({ width: 820 }) | webp %}" type="image/webp">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/48v100ah.png' | resize({ width: 1084 }) | webp %}" type="image/webp">
                    <img src="{% getUrl '/assets/images/48v100ah.png' | resize({ width: 1084 }) | jpeg %}"
                         alt="Golf Cart Battery"
                         loading="lazy"
                         decoding="async"
                         width="1084"
                         style="display:block; width:100%; height:auto; object-fit:contain; object-position:center;">
            </picture>
            <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/36v100ah.png' | resize({ width: 576 }) | webp %}" type="image/webp">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/36v100ah.png' | resize({ width: 820 }) | webp %}" type="image/webp">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/36v100ah.png' | resize({ width: 1084 }) | webp %}" type="image/webp">
                    <img src="{% getUrl '/assets/images/36v100ah.png' | resize({ width: 1084 }) | jpeg %}"
                         alt="Golf Cart Battery"
                         loading="lazy"
                         decoding="async"
                         width="1084"
                         style="display:block; width:100%; height:auto; object-fit:contain; object-position:center;">
            </picture>
        </div>
        <!-- Right Section -->
        <div class="cs-content">
            <br><br><br><br><br><br><br><br>
            <span class="cs-topper">Golf Cart</span>
            <h2 class="cs-title">High‑Performance Lithium Solutions</h2>
            <p class="cs-text">
                Our golf cart lithium batteries are engineered for high performance and reliability, giving dealers a product that upgrades customer carts with modern lithium efficiency. With advanced lithium technology, these batteries offer faster charging times, longer run times, and a much longer service life compared to traditional lead acid options. They reduce maintenance, lower weight, and improve overall reliability, giving dealers a strong upgrade solution for customers who come in needing battery replacements.
            </p>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">48v and 36v</span>
                    <h3 class="cs-h3">Power golf carts from 48v to 36v</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">100Ah</span>
                    <h3 class="cs-h3">Stay on the course longer</h3>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-83">
    <div class="cs-container">
        
        <!-- Right Section -->
        <div class="cs-content">
            <h2 class="cs-title">Specs for Golf Cart Batteries</h2>
            <p class="cs-text">
               Our 48V lithium golf cart batteries use brand new Grade A cells with full UL certification, providing consistent performance and dependable durability. Each unit includes an upgraded 200A smart BMS that supports continuous discharge currents up to 200 amps, with peak outputs of 1000 amps for 3 to 5 seconds, 300 amps for 32 seconds, and 600 amps for 32 seconds. This prevents performance cut offs and ensures stable operation for demanding golf cart applications.
                <br><br>
               With a total energy capacity of 5.12 kWh, these 48V 100Ah batteries have been tested to power a golf cart with a 3 kW motor for up to 30 miles per charge. Dealers can also monitor system performance through the integrated Bluetooth smart BMS, allowing real time data access through the manufacturer app.
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">88 lbs</span>
                </li>
                <li class="cs-item">
                    <span class="cs-number">20.4in x 10.6in x 8.6in</span>
                </li>
            </ul>
        </div>
        <!-- Left Section -->
        <div class="cs-image-group">
            <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/48v100ahSize.png' | resize({ width: 576 }) | webp %}" type="image/webp">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/48v100ahSize.png' | resize({ width: 820 }) | webp %}" type="image/webp">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/48v100ahSize.png' | resize({ width: 1084 }) | webp %}" type="image/webp">
                    <img src="{% getUrl '/assets/images/48v100ahSize.png' | resize({ width: 1084 }) | jpeg %}"
                         alt="Golf Cart Battery Sizing"
                         loading="lazy"
                         decoding="async"
                         width="1100"
                         style="display:block; width:100%; height:auto; object-fit:contain; object-position:center;">
            </picture>
            <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/BackLabel.jpg' | resize({ width: 576 }) | webp %}" type="image/webp">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/BackLabel.jpg' | resize({ width: 820 }) | webp %}" type="image/webp">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/BackLabel.jpg' | resize({ width: 1084 }) | webp %}" type="image/webp">
                    <img src="{% getUrl '/assets/images/BackLabel.jpg' | resize({ width: 1084 }) | jpeg %}"
                         alt="Golf Cart Battery Sizing"
                         loading="lazy"
                         decoding="async"
                         width="1100"
                         style="display:block; width:100%; height:auto; object-fit:contain; object-position:center;">
            </picture>
        </div>
    </div>
</section>                                               

{% include 'sections/cta.html' %}                     
{% endblock %}