---
title: "Dealer Order VE/US"
description: "Order our lithium batteries through the dealer portal."
permalink: "/order/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                 Contact Form                 -->
<!-- ============================================ -->

<section id="cs-contact-549">
    <div class="cs-container">
        <div class="cs-content">
            <br><br><br><br><br><br>
            <span class="cs-topper">Order</span>
            <h2 class="cs-title">Order Our Batteries</h2>
            <p class="cs-text">
                Fill out the form below to place an order for our high-quality lithium batteries. Our team will review your order and get back to you as soon as possible.
            </p>
        </div>
        <!--Form-->
        <form class="cs-form" id="Order" name="Order Form" method="post" netlify>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-order" name="name" placeholder="Name">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/person-gold.svg" alt="person icon" width="32" height="32">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="text" id="email-order" name="email" placeholder="Email">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/mail-gold.svg" alt="mail icon" width="32" height="32">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="text" id="phone-order" name="phone" placeholder="Phone">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/phone-golden.svg" alt="phone icon" width="32" height="32">
            </label>
            <label class="cs-label cs-phone">
                Address
                <input class="cs-input" required type="text" id="address-order" name="address" placeholder="Address">
            </label>
            <label class="cs-label cs-phone">
                Product
                 <select class="cs-select-label" required name="product" id="product-order" placeholder="Select Product">
                    <option value="" disabled selected>Select Product</option>
                    <option value="Golf Cart 48v 100ah">Golf Cart Battery 48v 100ah - $900</option>
                    <option value="Golf Cart 36v 100ah">Golf Cart Battery 36v 100ah - $750</option>
                    <option value="RV and BoatBattery 12v 320ah">RV and Boat Battery 12v 320ah - $495</option>
                </select> 
            </label>
            <label class="cs-label cs-phone">
                Quantity
                <input class="cs-input" required type="number" id="quantity-order" name="quantity" placeholder="Quantity">
            </label>
            <label class="cs-label cs-textarea-label">
                Message
                <textarea class="cs-textarea" name="Message" id="message-order" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-submit" type="submit">Send</button>
        </form>
    </div>
</section>
                                

<script>
  if (!window.netlifyIdentity || !netlifyIdentity.currentUser()) {
    window.location.href = "/order";
  }
</script>


{% endblock %}