---
title: "Dealer Access Request"
description: "Apply to become a dealer and join our network of trusted partners."
permalink: "/Dealer-Access-Request/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                 Contact Form                 -->
<!-- ============================================ -->

<section id="cs-contact-549">
    <div class="cs-container">
        <div class="cs-content">
            <br><br><br><br><br>
            <span class="cs-topper">Apply For Dealer</span>
            <h2 class="cs-title">Become a partner with Vehicle Electronics US</h2>
            <p class="cs-text">
                Fill out the form below to apply to become a dealer with Vehicle Electronics US. Our team will review your application and get back to you as soon as possible.
            </p>
        </div>
        <!--Form-->
        <form class="cs-form" id="apply" name="Apply for Dealer" method="post" netlify>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-apply" name="name" placeholder="Name">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/person-gold.svg" alt="person icon" width="32" height="32">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="text" id="email-apply" name="email" placeholder="Email">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/mail-gold.svg" alt="mail icon" width="32" height="32">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="text" id="phone-apply" name="phone" placeholder="Phone">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/phone-golden.svg" alt="phone icon" width="32" height="32">
            </label>
            <label class="cs-label cs-phone">
                Business License Number
                <input class="cs-input" required type="text" id="license-apply" name="license" placeholder="Business License Number">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/refer.svg" alt="talking icon" width="32" height="32">
            </label>
            <label class="cs-label cs-phone">
                Address
                <input class="cs-input" required type="text" id="address-apply" name="address" placeholder="Address">
            </label>
            <button class="cs-submit" type="submit">Send</button>
        </form>
    </div>
</section>
                                

{% endblock %}